.Asset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 120px;
  }

.Alike {
    background-color: #a324242e;
    padding: 10px;
    border: 1px solid #666666fa;
}

.AlikeImage, .NotAlikeImage {
    border: 1px solid #666666fa;
    margin: 0 1px 0 1px;
}

.NotAlike {
    background-color: #232fa03b;
    padding: 10px;
    border: 1px solid #666666fa;
}

p {
    padding: 10px;
}
