.NavBar {
    color: #fffffffa;
    background-color: #141526;
    border-bottom: 1px solid #4c508f;
}

.Brand, .Toggle {
    color: #fffffffa;
    font-size: 150%;
}

.Toggle {
    background-color: #252740;
    border: 1px solid #4c508f;
}

.Brand:hover {
    color: #1d8922;
}

.Active i {
    color: #1d8922;
}

.Link {
    padding: 10px;
    color: #ffffff;
}

a:hover {
    color: #1d8922;
}

.NavDropdown div {
    color: #ffffff;
    background-color: #141526;
    border: 1px solid #4c508f;
}

.NavDropdown  a {
    color: #ffffff !important;
}

.NavDropdown  a:hover {
    color: #1d8922 !important;
}

.NavDropdownItem:hover {
    background-color: #4c508f;
}