.NavBar {
    color: #232323fa;
}

.Brand {
    color: #000000fa;
    font-size: 150%;
}

.Brand:hover {
    color: #1d8922;
}

.Active i {
    color: #1d8922;
}

.Link {
    padding: 10px;
    color: #000000;
}

a:hover {
    color: #1d8922;
}