.Card, .CardPrev {
    color: #ffffff;
    background-color: #252740;
    border: 1px solid #4c508f;
}

.CardPrev {
    width: 18rem
}

.CardPrev:hover {
    background-color: #4c508f;
    border: 1px solid #252740;
}

.Alike, .NotAlike {
    padding: 5px;
    border: 1px solid #4c508f;
    object-fit: contain;
    width: 100%;
    height: 250px;
    margin: 0;
}

.Alike {
    background-color: #a324242e;
}

.NotAlike {
    background-color: #232fa03b;
}

.AlikeText, .NotAlikeText {
    color: #ffffff;
    border: 1px solid #4c508f;
    text-align: center;
}

.AlikeText {
    background-color: #a324242e;
}

.NotAlikeText {
    background-color: #232fa03b;
}

.Row {
    margin: 0;
    padding-top: 5px;
}

.Icon {
    color: #2aac2c;
}

.Title {
    color: #ffffff;
}

.Title:hover {
    color: #2aac2c;
}
