.SearchBar input {
    color: #2aac2c;
    background-color: #252740;
    padding-left: 40px;
    margin-bottom: 16px;
    border: 1px solid #4c508f;
}

.SearchBar:focus {
    background-color: #c73f2d;
}

.SearchIcon {
    position: absolute;
    font-size: 1.2rem;
    padding: 9px;
    padding-left: 15px;
    color: #2aac2c;
}

.SearchIcon:hover {
    cursor: default;
    color: #184b19;
}