.Card {
    color: #000000fa;
    margin: 0;
}

.Alike, .NotAlike {
    padding: 5px;
    border: 1px solid #666666fa;
    object-fit: contain;
    width: 100%;
    height: 250px;
}

.Alike {
    background-color: #a32424fa;
}

.NotAlike {
    background-color: #232fa0fa;
    text-align: center;
}

.AlikeText, .NotAlikeText {
    color: #fafafafa;
    text-align: center;
}

.AlikeText {
    background-color: #a32424fa;
}

.NotAlikeText {
    background-color: #232fa0fa;
}

