.App {
    background-color: #141526;
    color: rgb(255, 255, 255);
    min-height: 140vh;
}

.Main {
    padding-top: 70px;
    padding-bottom: 70px;
}

* {
    box-sizing: border-box;
}

a:hover {
    text-decoration: none;
}

.Container {
    background-color: #141526;
    border: 1px solid #31345f;
    padding: 10px;
}

/* Hiding the image upload buttons */
input[type="file"] {
    display: none;
}

.Image {
    max-height: 40vh;
    max-width: 100%;
    object-fit: contain;
}
