.App {
    background-color: #858585;
    color: #ffffffff;
    min-height: 100vh;
}

.Main {
    padding-top: 70px;
}

* {
    box-sizing: border-box;
}

a:hover {
    text-decoration: none;
}

.Container {
    background-color: #858585;
    border: 1px solid #666666fa;
    padding: 10px;
}